dns:
  enable: true # 是否启用dns false
  ipv6: true
  use-hosts: true
  prefer-h3: true
  listen: 0.0.0.0:53
  enhanced-mode: fake-ip # 模式：redir-host或fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter: # fake ip 白名单列表，如果你不知道这个参数的作用，请勿修改
    - "*"
    - +.lan
    - +.local
    - time.*.com
    - ntp.*.com
    - +.market.xiaomi.com
  default-nameserver:
    - https://223.5.5.5/dns-query
  nameserver:
    - https://dns.alidns.com/dns-query
  fallback:
    - https://dns.cloudflare.com/dns-query
  fallback-filter:
    geoip: true # 默认
    geoip-code: CN
    geosite:
      - gfw
    ipcidr: # 在这个网段内的 IP 地址会被考虑为被污染的 IP
      - 240.0.0.0/4
  nameserver-policy:
    rule-set:DIRECT: https://dns.alidns.com/dns-query

    geosite:cn,private,apple: https://dns.alidns.com/dns-query
    geosite:!cn,gfw: https://posvdm.cloudflare-gateway.com/dns-query



hosts:
  'iosapps.itunes.apple.com': hls.itunes.apple.com.mwcname.com